body {
    text-align: center;
    background-color: blanchedalmond;
    font-family: monospace;
}
#btn1 {
    background-color: red;
    font-family: monospace;
}
#btn2 {
    background-color: green;
    font-family: fantasy;
}
#btn3 {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
}