body {
    text-align: center;
    background-color: blanchedalmond;
    font-family: monospace;
}
button {
    font-family: fantasy;
    background-color: crimson;
    color:white;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
}
#btn1 {
background-color: aquamarine;
}